# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.env

# Django
db.sqlite3
media/

# IDEs
.vscode/
.idea/

# Flutter/Dart
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Node/JS
node_modules/
dist/
.eslintcache

# OS
Thumbs.db
.DS_Store
